.input-container {
  display: flex;
  background: white;
  border-radius: 1rem;
  background: linear-gradient(45deg, #c5c5c5 0%, #ffffff 100%);
  padding: 0.3rem;
  gap: 0.3rem;
}

.input-container input {
  border-radius: 0.8rem 0 0 0.8rem;
  background: #e8e8e8;
  box-shadow: inset 13px 13px 10px #dcdcdc, inset -13px -13px 10px #f4f4f4;
  width: 100%;
  flex-basis: 75%;
  padding: 1rem;
  border: none;
  border-left: 2px solid #800080; /* Changed to purple */
  color: #5e5e5e;
  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border-left: 2px solid #800080; /* Changed to purple */
  outline: none;
  box-shadow: inset 13px 13px 10px #dab6fc, inset -13px -13px 10px #f4f4f4; /* Adjusted for a lighter purple focus */
}

.input-container button {
  flex-basis: 25%;
  padding: 1rem;
  background: linear-gradient(135deg, #dab6fc 0%, #800080 100%); /* Changed to purple gradient */
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.2s ease-in-out;
}

.input-container button:hover {
  background: linear-gradient(135deg, #dab6fc 0%, #a020f0c4 100%); /* Hover effect with a lighter purple */
}

@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }

  .input-container button {
    padding: 1rem;
    border-radius: 0.8rem;
  }
}
